.contents {
    padding: .9rem;
    padding-top: 4rem;
}


.card {
    width: 10rem;
    height: 9rem;
    background-color: #4aa5da;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 300ms;
}

.card:hover {
    background-color: #eee7e7;
    transition: all 300ms;
    width: 10.5rem;
    border:4px solid black ;
}

.card2 {
    width: 10rem;
    height: 9rem;
    background-color: #ff4848;
    border-radius: 1rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    transition: all 300ms;
}

.card2:hover {
    background-color: #eee7e7;
    transition: all 300ms;
    width: 9.5rem;
    border:4px solid black ;
}

.text-card {
    font-size: 1.2rem;
} 

.Image-card {
    width: 4rem;
}

.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -3rem;
}