.material-symbols-outlined {
    font-size: 2rem;
    color: rgb(146, 146, 146);
    cursor: pointer;
    transition: all 400ms ease;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 200,
        'opsz' 40
}

/*contador*/
.product_btn_ {
    padding-top: .7rem;
    padding-bottom: .7rem;
}

.btn_sum2 {
    border: none;
    border-radius: 0.8rem;
    background-color: #5bc3fc;
    width: 2.4rem;
    height: 2.4rem;
}

.product_btn3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.6rem;
    font-size: 1.5rem;
}

.btn_res2 {
    border: none;
    border-radius: 0.8rem;
    background-color: #5bc3fc;
    width: 2.4rem;
    height: 2.4rem;
}

.Content_favorite {
    border: solid gray 2.9px;
    border-radius: .7rem;
    width: 8rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 300ms ease;
    cursor: pointer;
}

.Content_favorite:hover {
    transition: all 300ms ease;
    border: 2px solid rgb(249, 94, 94);
    background-color: rgb(251, 227, 227);
    ;
}

.like {
    margin-top: 14px;
    color: gray;
}

/*descripcion dell producto*/
.content_description {
    width: 27rem;
    margin-left: 2rem;
}

.description_all {
    display: flex;
    justify-content: space-around;
}

.text-descrip {
    color: gray;
}

.text-descrip2 {
    color: gray;
    display: flex;
    justify-content: center;
}

hr {
    color: gray;
    background-color: gray;
    height: .2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 7px 15px black;
}

.hr2 {
    color: gray;
    background-color: gray;
    height: .2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 7px 15px black;
}

.space_of_contents {
    display: flex;
    justify-content: center;
}

.Content-card {
    width: 40rem;
    margin-top: -6rem;
}

.imgBuy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_buy {
    width: 24rem;
    cursor: zoom-in;
}

.up_buy {
    padding: 1rem;
    color: gray;
}

.up_buy_ {
    padding: 1rem;
    margin-top: -1rem;
    cursor: pointer;
}

.up_buy_1 {
    padding: 1rem;
    margin-top: -2rem;
    color: gray;
    font-size: .8rem;
}

.up_buy_2 {
    padding-left: 1rem;
    margin-top: -1rem;
    font-size: 1.2rem;
    color: #00a650;
}

.up_buy_3 {
    padding: 1rem;
    width: 20rem;
    color: gray;
    font-size: .8rem;
    margin-top: -15px;
    margin-bottom: 0;
}

.row_buy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    width: 57rem;
    align-items: center;
    border: 2px solid gray;
    border-radius: .7rem;
    box-shadow: 2px 3px 25px gray;
}

.content_buy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* background-color: gray; */

}

.columm_buy {
    width: 31rem;
    background-color: #817f7f21;
    padding: 1rem;
    margin-left: -5rem;
}

.name_buy {
    color: #5bc3fc;
    font-size: 2.7rem;
    padding-left: 1rem;
    margin-bottom: 0;
    margin-top: -2rem;
}

.name_buy_ {
    color: #5bc3fc;
    font-size: 1.3rem;
    padding-left: 1rem;
    margin-top: -1rem;
}

.price_buy {
    font-size: 1.7rem;
    padding-left: 1rem;
    margin-top: -1rem;
    color: white;
}

.Content_price {
    background-color: #00d466d9;
    width: 9rem;
    border-radius: .7rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}

.rowBuy {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.textBuy {
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: .7rem;

}

.textBuy_ {
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: .7rem;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.addBuy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: .7rem;
}

.addBuy_ {
    border-radius: .5rem;
    background-color: #5bc3fc;
    border: none;
    transition: all 300ms;
    width: 8rem;
    height: 2.8rem;
    margin-left: 0.7rem;
}

.addBuy_2 {
    border-radius: .5rem;
    border: solid #5bc3fc;
    transition: all 300ms;
    width: 11rem;
    height: 2.8rem;
    margin-left: .5rem;
}

.addBuy_:hover {
    background-color: #50c4ff2e;
    transition: all 300ms;
    border: solid #5bc3fc;
}

.addBuy_2:hover {
    background-color: #50c4ff2e;
    transition: all 300ms;
}

/* metodos  de pago */
#content_det {
    display: flex;
    justify-content: center;
    display: none;
}

.metodos {
    background-color: white;
    width: 60rem;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: .7rem;
    box-shadow: 10px 50px 110px black;
    z-index: 1;
    margin-top: 2rem;
    padding: 2rem;
    animation: metodos 500ms forwards;
}

@keyframes metodos {
    from {
        transform: translate(-500px);
    }

    to {
        transform: translate(0px);
    }
}

.medoto_up {
    background-color: white;
    border: none;
    padding: 3rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-radius: .7rem;
    box-shadow: 2px 7px 10px gray;
}

.img_up {
    width: 3rem;
    cursor: pointer;
}

.img_up_ {
    width: 3rem;
    cursor: pointer;
}

.img_up_close {
    display: block;
    margin-top: -28rem;
    margin-right: -3rem;
    margin-left: -12rem;
}

.text_metodos_nav {
    margin-bottom: 0;
}

.text_metodos {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 4rem;
    font-size: 1.2rem;
}

.text_metodos_ {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 4rem;
    font-size: 1.2rem;
    margin-top: -2rem;
}

.text_metodos_1 {
    font-size: 1.8rem;
}

.text_metodos_2 {
    font-size: 1rem;
    margin-top: -1rem;
    color: gray;
}


.trajetas_metodo {
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.fondo_buy {
    width: 100%;
}

.center_2 {
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    margin-bottom: -2rem;
}

.linea_procesing {
    background-color: #5ba6fc;
    height: 3px;
    width: 10rem;
    display: flex;
    align-items: center;
}

.linea_procesing_ {
    background-color: gray;
    height: 3px;
    width: 10rem;
    display: flex;
    align-items: center;
}

.circles {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 8rem;
    padding: 1rem;
    border: 4px solid #5ba6fc;
    background-color: #5bc3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 1.3rem;
}

.circles2 {
    width: 3.5rem;
    height: 3.5rem;
    padding: 1rem;
    border-radius: 8rem;
    border: 3px solid gray;
    background-color: white;
    display: flex;
    color: gray;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.circles_2 {
    width: .3px;
    height: .3px;
    padding: 1rem;
    border-radius: 2rem;
    border: 3px solid gray;
    background-color: gray;
}

.Trasparent {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #00000033;
}

/* zoom en la imagen */

#img_1 {
    border: 0px;
    display: block;
    overflow: hidden;
    /* position: absolute; */
   /* margin-top: 10rem; */
   margin-left: -2rem; 
   margin-right: -2rem;
}

#img_2 {
    border: 0px;
    display: block;
    overflow: hidden;
    position: absolute;
    margin-left: 0rem;
    margin-top: -5rem;
    clip-path: rect(0px, 100px, 100px, 0px);
}

@media screen and (max-width:600px) {
    .row_buy {
        width: 30rem;
        flex-direction: column;
        height: 60rem;
        margin-top: -10rem;
    }

    .img_buy {
        width: 17rem;
        margin-top: -91rem;
        margin-bottom: -1rem;
    }

    .columm_buy {
        width: 22rem;
        margin-top: -140rem;
        margin-bottom: -26rem;
    }

    .img_up_ {
        width: 3rem;
        cursor: pointer;
    }

    .img_up_close {
        margin-top: -140rem;
        margin-right: -3rem;
        margin-left: 19rem;
    }

    .center_2 {
        padding-bottom: 12rem;
    }
}

@media screen and (max-width:776px) {
    .row_buy {
        width: 30rem;
        flex-direction: column;
        height: 60rem;
        margin-top: -10rem;
    }

    .img_buy {
        width: 17rem;
        margin-top: -91rem;
        margin-bottom: -1rem;
    }

    .columm_buy {
        width: 22rem;
        margin-top: -140rem;
        margin-bottom: -26rem;
    }

    .img_up_ {
        width: 3rem;
        cursor: pointer;
    }

    .img_up_close {
        margin-top: -140rem;
        margin-right: -3rem;
        margin-left: 19rem;
    }

    .center_2 {
        padding-bottom: 12rem;
    }
}


@media screen and (max-width:448px) {
    .center_2 {
        padding-bottom: 12rem;
    }
}

@media screen and (max-width:1920px) {

    .description_all {
        display: flex;
        justify-content: center;
    }

    .content_description {
        width: 47rem;
    }

    .hr2 {
        color: gray;
        background-color: gray;
        height: .2rem;
        width: 85rem;
        margin-bottom: 2rem;
        box-shadow: 2px 7px 15px black;
    }
}

@media screen and (max-width:1400px) {

    .hr2 {
        color: gray;
        background-color: gray;
        height: .2rem;
        width: 80rem;
        margin-bottom: 2rem;
        box-shadow: 2px 7px 15px black;
        margin-left: -0.7rem;
    }
}