.titleDeseos{
    font-size: 1.8rem;
    text-align: center;
}

.titleDescripcionDeseos2{
    font-size: 1.2rem;
}

.subtitleDeseos{
    color: #505050;
}

.containerDeseos{
    /* display: flex;
    flex-direction: column; */
    padding: 2rem;
    /* background-color: black; */
    margin: 1rem;
    border-color: azure;
}

.descripcionDeseos{
    display: flex;
    justify-content: space-around;
}

.prod1{
    display: flex;
    align-items: center;
    width: 30rem;
    justify-content: space-around;
}

.imgProd1{
    width: 14rem;
    height: 10rem;
    border-radius: 10px;
}

.priceStock{
    display: flex;
    width: 70rem;
    justify-content: space-around;
}

.cardProducts{
    background-color: #2a91a929;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}