.acount_content_row{

    flex-direction: column;

}

.btn_update{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}



@media screen and (max-width:740px) {
    .acount_content_all{
        padding: 1rem;
        width: 35rem;
      }

      .btn_update{
        width: 10rem;
        font-size: 1rem;
    }
}


@media screen and (max-width:550px) {
    .acount_content_all{
        padding: 1rem;
        width: 30rem;
      }

    .btn_update{
        width: 5rem;
        font-size: 1rem;
    }

    .input_acount{
        width: 84%;
    }

    .input_acount2{
        width: 100%;
    }
}



@media screen and (max-width:490px) {

    .text_check{
        width: 23rem;
    }

    .acount_content_all{
        width: 27rem;
    }

    .btn_update{
        width: 7rem;
        font-size: 1rem;
    }

    .input_acount2{
        width: 104%;
    }

    .input_acount{
        width: 100%;
    }
}



@media screen and (max-width:420px) {
    .text_check{
        width: 11rem;
    }


    .acount_content_all{
        width: 20rem;
    }

    .input_acount2{
        width: 45%;
    }

    .btn_update {
        width: 7rem;
        font-size: 1rem;
    }
}


@media screen and (max-width:360px) {

    .acount_content_row{

        flex-direction: column;
    
    }
    
    .btn_update{
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }


    .text_check{
        width: 8rem;
        font-size: 1rem;
    }

    .acount_up{
        display: flex;
        justify-content: center;
    }

}



