.content-marks{
    background-color: #d3ebf7;
    margin-bottom: 5rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
}

.marks{
    height: 13rem;
}

.text-marks{
    color: #44D2F2;
    font-size: 2rem;
    margin-bottom: -2rem;
    padding-top: 1rem;

    text-align: center;

    display: flex;
    justify-content: center;

}

.image-marks{
    padding: 1rem;
}

.edit{
    border-radius: 10rem;
    width: 4.5rem;
}

.edit2{
    border-radius: 10rem;
    width: 11rem;
}

.edit3{
    border-radius: 10rem;
    width: 11rem;
}

.edit4{
    border-radius: 10rem;
    width: 6.5rem;
}

.edit5{
    border-radius: 10rem;
    width: 6.5rem;
}

.edit6{
    border-radius: 10rem;
    width: 11rem;
}


.edit1{
    border-radius: 10rem;
    width: 6rem;
}