.info{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    z-index: 1;
}


.all_info{
    background-color: white;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 8rem;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    justify-content: flex-end;
    flex-wrap: nowrap;
  
}

/*-------- botones ---------*/

.aa{
    color: black;
    padding: .6rem;
    background-color: #5bc3fc;
    width: 12rem;
    display: flex;
    justify-content: center;
    border-radius: .5rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    transition: all 400ms;
}
.aa:hover {
    background-color: #eee7e7;
    transition: all 300ms;
    width: 12rem;
    color: black;
    border:3px solid black ;
}

.b{
    color: black;
    padding: .6rem;
    background-color: #5bc3fc;
    width: 12rem;
    display: flex;
    justify-content: center;
    border-radius: .5rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    transition: all 400ms;
}
.b:hover {
    background-color: #eee7e7;
    transition: all 300ms;
    width: 12rem;
    color: black;
    border:3px solid black ;
}

.c{
    color: black;
    padding: .6rem;
    background-color: #5bc3fc;
    width: 12rem;
    display: flex;
    justify-content: center;
    border-radius: .5rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    transition: all 400ms;
}
.c:hover {
    background-color: #eee7e7;
    transition: all 300ms;
    width: 12rem;
    color: black;
    border:3px solid black ;
}

.d{
    color: black;
    padding: .6rem;
    background-color: #5bc3fc;
    width: 12rem;
    display: flex;
    justify-content: center;
    border-radius: .5rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    transition: all 400ms;
}
.d:hover {
    background-color: #eee7e7;
    transition: all 300ms;
    width: 12rem;
    color: black;
    border:3px solid black ;
}