.item{
    height: 17rem;
    min-width: 20rem;
    padding: 1rem;
}
.item img{
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.slider{
    display: flex;
    cursor: grab;
}
.slider-container{
    margin: 0 auto;
    overflow-x: hidden;
}

.item-image{
    border-radius: 1rem;
}