.column_all{
    width: 15rem;
    border-radius: .5rem;
    border: solid 2px gray;
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 300ms ease;
}

.column_all:hover{
    transition: all 300ms ease;
    border:2px solid #5bc3fc;
}

.title-product {
    color: rgb(131, 131, 131);
    display: flex;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 0;
    margin-top: 0;
  }

.content_Product {
  margin-top: 9rem;
}

.card_product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.imgProduct{
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgProduct2{
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgProduct_{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name_Product{
    color: #5bc3fc;
    font-size: 1.7rem;
    padding-left: 1rem;
    margin-bottom: 0;
}

.name_Product_{
    color: #5bc3fc;
    font-size: .9rem;
    padding-left: 1rem;
}

.price_product{
    font-size: 1.3rem;
    padding-left: 1rem;
    margin-bottom: 0;
}

.price_product_ofert{
    font-size: .9rem;
    padding-left: 1rem;
    margin-bottom: 0;
    color: firebrick;
}

.rowProduct{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.textProduct{
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: .7rem;
   
}

.textProduct_{
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: .7rem;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.addProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.addProduct_{
    border-radius: .5rem;
    background-color: #5bc3fc;
    border: none;
    transition: all 300ms;
    width: auto;
    height: 2.3rem;
}

.addProduct_:hover {
    background-color: #eee7e7;
    transition: all 300ms ease;
    border: solid #5bc3fc;
}

@media screen and (max-width:600px) {
    .title-product {
        padding: 0rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .column_all {
        width: 15rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .row_buy {
        width: 30rem;
    }
}

@media screen and (max-width:448px) {
    .title-product {
        padding: 0rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

}