.column_all{
    width: 15rem;
    border-radius: .5rem;
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1.5rem;    
    transition: all 300ms ease;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 10px 0px;
}

.column_all:hover{
    transition: all 300ms ease;
    box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 20px 0px;
}

.title-product {
    color: rgb(131, 131, 131);
    display: flex;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 0;
    margin-top: 0;
  }

.content_Product {
  margin-top: 9rem;
}

.card_product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.imgProduct{
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgProduct2{
    width: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgProduct_{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name_Product{
    color: #5bc3fc;
    font-size: 1.5rem;
    padding-left: 1rem;
    margin-bottom: 0;
}

.name_Product_{
    color: #5bc3fc;
    font-size: .9rem;
    padding-left: 1rem;
}

.price_product{
    font-size: 1.3rem;
    padding-left: 1rem;
    margin-bottom: 0;
}

.price_product_ofert{
    font-size: .9rem;
    padding-left: 1rem;
    margin-bottom: 0;
    color: firebrick;
}

.rowProduct{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.textProduct{
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: .8rem
}

.textProduct_{
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: .8rem;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.addProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}


/* -------------------------------------------------- */
.addProduct_2 {
    font-size: 15px;
    /* letter-spacing: 2px; */
    /* text-transform: uppercase; */
    display: inline-block;
    text-align: center;
    font-weight: bold;
    height: 2.5rem;
    /* padding: 0.7em 2em; */
    border: 3px solid #5bc3fc;
    border-radius: .5rem;
    width: 13rem;
    position: relative;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); */
    color: white;
    text-decoration: none;
    background-color: #5bc3fc;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  
  .addProduct_2:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: white;
    z-index: -1;
    border-radius: .3rem;
  }
   
  .addProduct_2:hover,
  .addProduct_2:focus {
    color:#5bc3fc;
  }
  
  .addProduct_2:hover:before,
  .addProduct_2:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  .addProduct_2:active {
    transform: scale(0.9);
  }



  .addProduct_ {
    font-size: 15px;
    /* letter-spacing: 2px; */
    /* text-transform: uppercase; */
    display: inline-block;
    text-align: center;
    font-weight: bold;
    /* padding: 0.7em 2em; */
    margin-bottom: .5rem;
    border: 3px solid #5bc3fc;
    border-radius: .5rem;
    width: 13rem;
    height: 2.5rem;
    position: relative;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); */
    color: #5bc3fc;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  
  .addProduct_:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #5bc3fc;
    z-index: -1;
  }
   
  .addProduct_:hover,
  .addProduct_:focus {
    color: white;
  }
  
  .addProduct_:hover:before,
  .addProduct_:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  .addProduct_:active {
    transform: scale(0.9);
  }


/* -------------------------------------------------- */


@media screen and (max-width:600px) {
    .title-product {
        padding: 0rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .column_all {
        width: 15rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .row_buy {
        width: 30rem;
    }
}

@media screen and (max-width:448px) {
    .title-product {
        padding: 0rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

}