body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*-------------  footer ------------------*/


.site-footer
{
  background-color:#83c5eb;
  padding: 39px 0 0px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:rgb(0, 0, 0);
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#ff0000;
  font-size:16px;
  text-transform:uppercase;
  margin-top:-16px;
  letter-spacing:2px

}
.site-footer a
{
  color:#000000;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#000000
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right;
  margin-top: -44px;
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}





@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }


}

.image_footer{
  width: 400px;
  height: 80px;
  padding-right: 25px;
  border-right:solid #ff0000;
}


.text-justify{
  margin-top: -15px;
  margin-bottom: 50px;
  font-size: 17px;
  color: black;
}

.copyright-text{
  font-size: 17px;
  color: black;
}


.content_footer{
  padding-left: 46px;

}

.row2{
  display: flex;
  flex-direction: row;
}

.content_down{
  padding: .5rem;
  background-color:#83c5eb;
  border-top: solid rgb(48, 48, 48);
}

/*  icons */

.twitter{
  width: 64px;
  margin-bottom: -7px;
}

/*---------------- Nav -------------------*/

.imgu{
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav{
  background-color:#83c5eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-bottom:solid #000000;
  border-top:solid #000000;
}

nav .a{
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 35px;
  transition: all 400ms;
  color: black  ;
}

nav a:hover{
  color:white;
  transition: all 300ms;
  border-bottom:solid white;
}


header{
  display: flex;
  justify-content: center;
  height: 9rem;
}

header img{
  width: 30rem;
}

/*---------------- Formulario Registro -------------------*/
.formulario{
  display: flex;
  justify-content: center;
  padding: 2.5rem;
  background-image: url(/src/Components/Image/fondoReg.png);
}

.formulario2{
  background-color: #ffffff57;
  padding: 5rem;
  box-shadow: 1px 1px 18px black;
  border-radius: 1rem;
}

.formularioReg{
  display: flex;
  flex-direction: column;
}

.submitReg{
  display: flex;
  justify-content: center;
}

.submitReg2{
  padding: 1rem;
  font-weight: 400;
  background-color: #4a4aee;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .9rem;
  margin-top: 2rem;
  transition: all .3s ease-in;
  color: #fff;
}

.submitReg2:hover{
  background-color: #6464f8;
}

.labelsReg{
  font-weight: bold;
}

.checkTyC{
  display: flex;
  align-items: baseline;
  text-align: center;
}

.titleReg{
  text-align: center;
}

.form-input{
  background-color: #ffffff57;
  width: 100%;
  height: 1.5rem;
  padding: .2rem;
  font-size: 1rem;
  border: none;
  border-bottom: solid 1px black;
}

.form-input:focus{
  outline: none;
}

.iconos{
  display: flex;
  justify-content: space-around;
}

.border-icon{
  font-size: 2rem;
}

p{
  text-align: center;
}

.message {
  padding: 3rem;
  margin-right: 6rem;
  margin-left: 6rem;
}

.message h2 {
  font-size: 1.7rem;
  padding: 1rem 0;
}

.message button {
  padding: 1rem;
  font-weight: 400;
  background-color: #4a4aee;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .9rem;
  margin-top: 2rem;
  transition: all .3s ease-in;
  color: #fff;
  margin: auto;
  display: block;
}

.message button:hover {
  background-color: #6464f8;
}

/*---------------- Terminos -------------------*/
.parrafo{
  text-align: justify;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

.container1{
  background-color: #ffffff57;
  padding: 3rem;
  box-shadow: 1px 1px 18px black;
  border-radius: 1rem;
}


/*---------------- ContactUS -------------------*/
textarea{
  min-height: 100px;
  max-height: 200px;
  max-width: 380px;
  border-radius: 7px;
  border-bottom: 2px solid #2196F3;
  box-shadow:9px 6px 6px #90A4AE; 
}
  
input{
  margin: 10px 0;
  border-radius: 7px;
  border-bottom: 2px solid #2196F3;
  box-shadow:5px 5px 5px #90A4AE; 
}

label{
  font-weight: bold;
}


.text{
  background-color: #ffffff57;
  width: 100%;
  height: 1.5rem;
  padding: .2rem;
  font-size: 1rem;
  border: none;
  border-bottom: solid 1px black;
}

.text:focus{
  outline: none;
}

.submitReg{
  display: flex;
  justify-content: center;
}

.boton{
  padding: 1rem;
  font-weight: 400;
  background-color: #4a4aee;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .9rem;
  margin-top: 2rem;
  transition: all .3s ease-in;
  color: #fff;
  margin: auto;
  display: block;
}

.boton:hover{
  background-color: #6464f8;
}