body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
  width: 100%;
}

/* botones de seetAlert2 */

.pse_content{
  display: flex;
  justify-content: center;
}

.confirm{
  color: black;
  padding: 0.3rem;
  background-color: #5bc3fc;
  width: 15rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  border: none;
  transition: all 400ms;
}

.confirm:hover {
  background-color: #eee7e7;
  color: black;
  transition: all 300ms;
  border: solid #5bc3fc;
}

.Cancel{
  color: black;
  padding: 0.3rem;
  background-color: #fc5b5b;
  width: 10rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  border: none;
  transition: all 400ms;
}

.Cancel:hover {
  background-color: #eee7e7;
  transition: all 300ms;
  border: solid #fc5b5b;
}

.text_link{
  color: black;
}

.text_link:hover{
  color: black;
}

.icon {
  width: 1.7rem;
}

.icon2 {
  width: 1.5rem;
  margin-top: -1.6rem;
  margin-left: -12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.orden_product {
  padding: 2rem;
}

.input-password {
  display: flex;
}


.button-show {
  font-size: 25px;
  border: none;
  background-color: #00000000;
  cursor: pointer;
  position: absolute;
  display: block;
  margin-left: 82%;
}

.button-show2 {
  font-size: 20px;
  border: none;
  background-color: #00000000;
  cursor: pointer;
  position: absolute;
  display: block;
  margin-left: 28rem;
  margin-top: -2.3rem;
}

/*---------------- Nav -------------------*/


.menu_fixed {

  width: 100%;
}


.headerDisplay {
  display: flex;
  align-items: center;
}

.userIcon {
  font-size: 3rem;
}


.imgu {
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  margin-top: 10px;
  height: 65vh;


}

nav {
  background-color: #44D2F2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  box-shadow: 0 6px 7px -2px grey;
}

.Logo_nav {
  width: 15rem;
}

nav .a {
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  transition: all 400ms;
  color: black;
}

nav a:hover {
  color: white;
  transition: all 300ms;
}


header {
  display: flex;
  background-color: #44D2F2;
  justify-content: center;
  height: 3rem;
  padding: 3rem;
}

header img {
  width: 30rem;
}

.burger {
  cursor: pointer;
}

/* --------------- Slider Home -----------------*/
#bannerTamaño {
  height: 20rem;
}


/*---------------- Navbar -------------------*/

.navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  background-color: #44D2F2;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  transition: margin-left 4s ease-in-out 1s;
  border-end-end-radius: 1rem;
  border-end-start-radius: 1rem;
  box-shadow: 0 6px 7px -2px grey;
}

#logo {
  width: 14rem;
  animation: logo 1s forwards;
}

@keyframes logo {
  from {
    transform: translate(-100px);
  }

  to {
    transform: translate(0px);
  }
}

.navbar2 {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  cursor: pointer;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  animation: navbar2 1s forwards;
  font-size: 1.1rem;
}

@keyframes navbar2 {
  from {
    transform: translate(100px);
  }

  to {
    transform: translate(0px);
  }
}

.navbar2:hover {
  color: #fff;
}

.buscar {
  width: 26rem;
  border-radius: 5px;
  border: none;
}

.buscar:focus{
  outline: none;
}

.buscar2 {
  border: none;
  background-color: #fff;
  margin-left: -2rem;
  display: block;
  color: #44D2F2;
}

.links {
  text-decoration: none;
  color: #000000;
}

.links:hover {
  color: #fff;
}

.ubicacion {
  color: #000;
}

.ubicacion:hover {
  color: #fff;
}



/*---------------- Formulario Registro -------------------*/

.formulario2 {
  animation: slidein 1s forwards;
  background-color: #ffffff57;
  padding: 3rem;
  border-radius: .6rem;
  width: 34rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
}

@keyframes slidein {
  from {
    transform: translate(-500px);
  }

  to {
    transform: translate(0px);
  }
}

.message {
  animation: texxt 1s forwards;
  padding: 3rem;
  margin-right: 6rem;
  margin-left: 6rem;
  text-align: center;
}

@keyframes texxt {
  from {
    transform: translate(-900px);
  }

  to {
    transform: translate(0px);
  }
}


.formulario3 {
  animation: slidein2 1s forwards;
  background-color: #ffffff57;
  padding: 3rem;
  border-radius: .6rem;
  width: 34rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
}

@keyframes slidein2 {
  from {
    transform: translate(500px);
  }

  to {
    transform: translate(0px);
  }

}

.message2 {
  padding: 3rem;
  margin-right: 6rem;
  margin-left: 6rem;
  text-align: center;
  animation: texxt2 1s forwards;
}

@keyframes texxt2 {
  from {
    transform: translate(900px);
  }

  to {
    transform: translate(0px);
  }
}

/*-----------------------------*/

.formulario {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2.5rem;
  background-image: url(/src/Components/Image/fondoReg.png);
}

.formularioReg {
  display: flex;
  flex-direction: column;
}

.submitReg {
  display: flex;
  justify-content: center;
}

.submitReg2 {
  padding: 1rem;
  font-weight: 400;
  background-color: #0a58ca;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .9rem;
  margin-top: 2rem;
  transition: all .3s ease-in;
  color: #fff;
}

.submitReg2:hover {
  background-color: #6464f8;
}

.labelsReg {
  font-weight: bold;
}

.checkTyC {
  display: flex;
  align-items: baseline;
  text-align: center;
  justify-content: center;
}

input[type="checkbox"] {
  background-color: initial;
  cursor: pointer;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.titleReg {
  text-align: center;
  font-size: 2rem;
}

.form-input {
  background-color: #ffffff57;
  width: 100%;
  height: 2rem;
  padding: 1.2rem;
  font-size: 1rem;
  border: none;
  border-bottom: solid 1px black;
}

.form-input:focus {
  outline: none;
}

.iconUser {
  position: absolute;
  display: block;
  margin-top: .7rem;
  margin-left: 0.1rem;
  cursor: pointer;
}

.iconPass {
  position: absolute;
  display: block;
  margin-top: .7rem;
  margin-left: 0.1rem;
  cursor: pointer;
}

.iconUserReg {
  position: absolute;
  display: block;
  margin-top: 4.2rem;
  margin-left: 0.1rem;
  cursor: pointer;
}

.iconUserEmailReg {
  position: absolute;
  display: block;
  margin-top: 0.7rem;
  margin-left: 0.1rem;
  cursor: pointer;
}

.iconPassReg {
  position: absolute;
  display: block;
  margin-top: 0.7rem;
  margin-left: 0.1rem;
}

.iconPassReg2 {
  position: absolute;
  display: block;
  margin-top: 0.7rem;
  margin-left: 0.1rem;
}

.links {
  text-decoration: none;
}

.linkLog {
  color: #fff;
  text-decoration: none;
}

.linkLog:hover {
  color: #fff;
}

.message h2 {
  font-size: 1.7rem;
}

.message button {
  padding: 1rem;
  font-weight: 400;
  background-color: #0a58ca;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .9rem;
  margin-top: 2rem;
  transition: all .3s ease-in;
  color: #fff;
  margin: auto;
  display: block;
}

.message button:hover {
  background-color: #6464f8;
}


.forgetPass {
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0.8rem;
}

.message2 button {
  padding: 1rem;
  font-weight: 400;
  background-color: #0a58ca;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .9rem;
  margin-top: 2rem;
  transition: all .3s ease-in;
  color: #fff;
  margin: auto;
  display: block;
}

.message2 button:hover {
  background-color: #6464f8;

}

/*---------------- Terminos -------------------*/
.parrafo {
  text-align: justify;
}

.terminos {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2.5rem;
}

.titleTyC {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin-top: 2rem;
  font-size: 1.7rem;
  text-align: center;
}

.container1 {
  background-color: #ffffff57;
  padding: 2rem;
  box-shadow: 1px 1px 18px black;
  border-radius: .6rem;
  backdrop-filter: blur(10px);
  /* -webkit-backdrop-filter: blur(10px); */
  width: 100%;
}

.container_all {
  display: flex;
  justify-content: center;

  animation: container_all 1s forwards;
}

@keyframes container_all {
  from {
    transform: translate(-500px);
  }

  to {
    transform: translate(0px);
  }
}

.about_all {
  display: flex;
  flex-direction: row;
}

.about_contact {
  margin-top: 8rem;
  width: 118rem;
  margin-left: -6rem;
}

.about_contact2 {
  padding-left: 8rem;
  color: #5bc3fc;
  animation: about_contact2 1s forwards;
}

@keyframes about_contact2 {
  from {
    transform: translate(-500px);
  }

  to {
    transform: translate(0px);
  }
}

.about_contact3 {
  padding-left: 8rem;
  margin-bottom: -3rem;
}

.about_contact4 {
  font-size: 1.3rem;
  animation: about_contact4 1s forwards;
}

@keyframes about_contact4 {
  from {
    transform: translate(-500px);
  }

  to {
    transform: translate(0px);
  }
}

.about_where {
  padding-left: 8rem;
  animation: about_where 1s forwards;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 5.8rem;
}

@keyframes about_where {
  from {
    transform: translate(-500px);
  }

  to {
    transform: translate(0px);
  }
}

.about_where1 {
  color: #5bc3fc;
}

.about_where3 {
  font-size: 1.3rem;
}


/*---------------- ContactUS -------------------*/
textarea {
  min-height: 200px;
  max-height: 200px;
  width: 36rem;
  border-radius: 7px;
  /* border-bottom: 2px solid #2196F3; */
  box-shadow: 9px 6px 6px #90A4AE;
  background-color: #ffffff57;
}

.contact {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
}

.textContact {
  /* margin: 10px 0;
  border-radius: 7px;
  /* border-bottom: 2px solid #2196F3; 
  box-shadow:5px 5px 5px #90A4AE;  */

  background-color: #ffffff57;
  width: 100%;
  height: 2.5rem;
  padding: 0.2rem;
  font-size: 1rem;
  border: none;
  border-bottom: solid 1px black;
}

label {
  font-weight: bold;
  margin-top: 1rem;
}


.text {
  background-color: #ffffff57;
  width: 100%;
  height: 2.5rem;
  padding: .2rem;
  font-size: 1rem;
  border: none;
  border-bottom: solid 1px black;
}

.text:focus {
  outline: none;
}

.submitReg {
  display: flex;
  justify-content: center;
}

.boton {
  padding: 1rem;
  font-weight: 400;
  background-color: #4a4aee;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .9rem;
  margin-top: 2rem;
  transition: all .3s ease-in;
  color: #fff;
  margin: auto;
  display: block;
  margin-top: 2rem;
}

.boton:hover {
  background-color: #6464f8;
}

/* --------------------Footer --------------------*/

a {
  text-decoration: none;
}

/*utilidad*/

.tancition-5s {
  transition: all .5s ease;
}

.width {
  height: 20rem;
}

.margin-left {
  margin-left: 22rem;
}


#home {
  color: white;
  font-size: 3rem;
  animation: home 1s forwards;
}

.Content_categorias {
  padding: 1rem;
}

@keyframes home {
  from {
    top: (100px)
  }

  to {
    bottom: (100);
  }
}

.center_home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -20rem;
}


#opacidad {
  z-index: 1;
}

#color_1 {
  background-color: rgba(0, 0, 0, 0.6);
}


.image_contact {
  width: 100%;
  z-index: 0;
}

.text_product {
  margin-top: -14.8rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  font-size: 5rem;
  padding-left: 6rem;
  color: white;
  animation: text_product 1s forwards;
}

@keyframes text_product {
  from {
    transform: translate(-500px);
  }

  to {
    transform: translate(0px);
  }
}

.text_product2 {
  margin-top: -3rem;
  display: flex;
  justify-content: flex-start;
  font-size: 5rem;
  padding-left: 6rem;
  color: white;
  animation: text_product2 1.2s forwards;
}

@keyframes text_product2 {
  from {
    transform: translate(-500px);
  }

  to {
    transform: translate(0px);
  }
}

/*--------------- acount inicio -------*/

.lineal_img {
  z-index: 0;
  margin-top: 5.5rem;
  margin-left: 2rem;
  height: 4rem;
  width: 4rem;
  animation: lineal_img .7s forwards;
}

@keyframes lineal_img {
  from {
    transform: translate(-200px);
  }

  to {
    transform: translate(0px);
  }
}

.lineal_img2 {
  z-index: 0;
  margin-top: 14rem;
  margin-left: 2rem;
  height: 4rem;
  width: 4rem;
  animation: lineal_img2 .7s forwards;
}

@keyframes lineal_img2 {
  from {
    transform: translate(-200px);
  }

  to {
    transform: translate(0px);
  }
}

.lineal_img3 {
  z-index: 0;
  margin-top: 18rem;
  margin-left: 2rem;
  height: 4rem;
  width: 4rem;
  animation: lineal_img3 .7s forwards;
}

@keyframes lineal_img3 {
  from {
    transform: translate(-200px);
  }

  to {
    transform: translate(0px);
  }
}



.acount_all {
  display: flex;
  flex-direction: row;
}


/* todo lo de usuario */

/* direction */

.acount_up {
  display: flex;
  justify-content: center;

}

.acount_content_all {
  background-color: #d3ebf7;
  padding: 2.5rem;
  width: 43.4rem;
  border-radius: 0.5rem;
  animation: acount_content_all .7s forwards;
}

@keyframes acount_content_all {
  from {
    transform: translate(-70px);
  }

  to {
    transform: translate(0px);
  }
}

.input_acount {
  background-color: #ffffff57;
  width: 98%;
  height: 2.5rem;
  padding: 0.2rem;
  font-size: 1rem;
  border: none;
  border-bottom: solid 1px black;
}

.input_acount2 {
  background-color: #ffffff57;
  width: 95%;
  height: 2.5rem;
  padding: 0.2rem;
  font-size: 1rem;
  border: none;
  border-bottom: solid 1px black;
  margin-right: 16rem;
}

.acount_content_row {
  display: flex;
  flex-direction: row;
}

.btn_save {
  color: black;
  padding: .3rem;
  background-color: #5bc3fc;
  width: 12rem;
  display: flex;
  justify-content: center;
  border-radius: .5rem;
  font-size: 1.3rem;
  border: none;
  transition: all 400ms;
}

.btn_save:hover {
  background-color: #eee7e7;
  transition: all 300ms;
  border: solid #5bc3fc;
}


.btn_update {
  color: black;
  padding: 0.3rem;
  background-color: #5bc3fc;
  width: 12rem;
  height: 3rem;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  margin-top: 5.5rem;
  transition: all 400ms;
  margin-right: 2rem;
}

.btn_update:hover {
  background-color: #eee7e7;
  transition: all 300ms;
  width: 12rem;
  color: black;
  border: 3px solid black;
}

.acount_btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* tarjet */

.input_acount3 {
  background-color: #ffffff57;
  width: 33rem;
  height: 2.5rem;
  padding: 0.2rem;
  font-size: 1rem;
  border: none;
  border-bottom: solid 1px black;
  margin-right: 16rem;
}

.acount_content_tarjet {
  padding-left: 3rem;
  padding-right: 2.5rem;
}

.input_acount4 {
  background-color: #ffffff57;
  width: 14rem;
  height: 2.5rem;
  padding: 0.2rem;
  font-size: 1rem;
  border: none;
  border-bottom: solid 1px black;
  margin-right: -2.5rem;
}

.input_acount5 {
  background-color: #ffffff57;
  width: 14rem;
  height: 2.5rem;
  padding: 0.2rem;
  font-size: 1rem;
  border: none;
  border-bottom: solid 1px black;
  margin-right: -2.5rem;
}


/* botones de mi cuenta */

.info {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: none;
  z-index: 1;
}

.all_info {
  padding-top: 3rem;
}

.cerrarSesion{
  width: 2rem;
}

.btnCerrarSesion{
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

/*-------- botones ---------*/

.select_btn {
  color: black;
  padding: .6rem;
  background-color: #d3ebf7;
  width: 17rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  margin-right: -4rem;
  border-radius: .5rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  transition: all 400ms;
}

.select_btn:hover {
  color: black;
}

.aa {
  color: black;
  padding: .6rem;
  background-color: #5bc3fc;
  width: 12rem;
  display: flex;
  justify-content: center;
  border-radius: .5rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  transition: all 400ms;
}

.aa:hover {
  background-color: #eee7e7;
  transition: all 300ms;
  width: 12rem;
  color: black;
  border: 3px solid black;
}

.b {
  color: black;
  padding: .6rem;
  background-color: #5bc3fc;
  width: 12rem;
  display: flex;
  justify-content: center;
  border-radius: .5rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  transition: all 400ms;
}

.b:hover {
  background-color: #eee7e7;
  transition: all 300ms;
  width: 12rem;
  color: black;
  border: 3px solid black;
}

.c {
  color: black;
  padding: .6rem;
  background-color: #5bc3fc;
  width: 12rem;
  display: flex;
  justify-content: center;
  border-radius: .5rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  transition: all 400ms;
}

.c:hover {
  background-color: #eee7e7;
  transition: all 300ms;
  width: 12rem;
  color: black;
  border: 3px solid black;
}

.d {
  color: black;
  padding: .6rem;
  background-color: #5bc3fc;
  width: 12rem;
  display: flex;
  justify-content: center;
  border-radius: .5rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  transition: all 400ms;
}

.d:hover {
  background-color: #eee7e7;
  transition: all 300ms;
  width: 12rem;
  color: black;
  border: 3px solid black;
}

.pvaliRegister {
  color: red;
  text-align: center;
}

.nom_check {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.text_check {
  color: gray;
  font-size: 1.5rem;
}

.text_check2 {
  color: gray;
  font-size: 1.5rem;
  font-size: 2rem;
  margin-bottom: -3rem;
  margin-bottom: -3rem;
  margin-top: -1rem;
}

.text_check_2 {
  color: gray;
  font-size: 1.5rem;
  font-size: 2rem;
  margin-bottom: -3rem;
  margin-bottom: -3rem;
  margin-top: -3rem;
}

/*------------------ Filtrado productos ------------*/

.containerFilter{
  display: flex;
  justify-content: center;
  height: 100%;
}

.containerFiltros{
  padding: 1rem;
}

.containerTitle{
  background: #44D2F2;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conteinerProducts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerCategorias{
  background: whitesmoke;
  border-radius: 1rem;
  width: 15rem;
  height: 45rem;
}

.iconFilter{
  font-size: .8rem;
  margin-top: -3px;
}

.titleFilter{
  font-size: 1.2rem;
  text-align: center;
  /* padding-top: 0.7rem; */
}

.titleCategoria{
  font-size: 1.5rem;
  text-align: center;
}

.filterCategoria {
  background-color: #f5f5f5;
}

hr {
  color: #000;
  width: 100%;
}

.slider-box-filter {
  background-color: #525151;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 1%;
  border-radius: 1rem;
}

.container-Orden-Productos{
  display: flex;
  align-items: baseline;
  width: 84%;
  height: 2rem;
  justify-content: flex-end;
}

.column_all_products{
  width: 15rem;
  border-radius: .5rem;
  background-color: white;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 300ms ease;
  box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 10px 0px;
}

.column_all_products:hover{
  transition: all 300ms ease;
  box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 3px 20px 0px;
}

.title-product {
  color: rgb(131, 131, 131);
  display: flex;
  justify-content: center;
  padding: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}

.content_all_Product {
  margin-top: 0rem;
}

.card_all_product {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  justify-items: end;
}

.imgAllProduct{
  width: 10rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.imgProduct2{
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgProduct_{
  display: flex;
  justify-content: center;
  align-items: center;
}

.name_Product{
  color: #5bc3fc;
  font-size: 1.7rem;
  padding-left: 1rem;
  margin-bottom: 0;
}

.name_Product_{
  color: #5bc3fc;
  font-size: .9rem;
  padding-left: 1rem;
}

.price_product{
  font-size: 1.3rem;
  padding-left: 1rem;
  margin-bottom: 0;
}

.price_product_ofert{
  font-size: .9rem;
  padding-left: 1rem;
  margin-bottom: 0;
  color: firebrick;
}

.rowProduct{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.textProduct{
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: .7rem;
}

.textProduct_{
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: .7rem;
  border-left: solid 1px black;
  border-right: solid 1px black;
}

.addProduct{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; 
}

.addProduct_{
  border-radius: .5rem;
  background-color: #5bc3fc;
  border: none;
  transition: all 300ms;
  width: auto;
  height: 2.3rem;
}

.addProduct_:hover {
  background-color: #eee7e7;
  transition: all 300ms;
  border: 2px solid black;
}

.categIcon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subCategorias{
  background-color: #f5f5f5;
  max-height: 10rem;
  overflow-y: auto;
  display: none;
  align-items: baseline;
  flex-direction: column;
}

.subCategorias0{
  background-color: #f5f5f5;
  max-height: 10rem;
  overflow-y: auto;
  display: none;
  align-items: baseline;
  flex-direction: column;
}

.subCategorias2{
  display: flex;
  align-items: baseline;
  gap: .5rem;
  /* display: none; */
}

.iconArrow{
  position: absolute;
  display: block;
  margin-left: 12rem;
  color: #44D2F2;
}

#selectPrecios{
  border-radius: 1rem;
  padding: .2rem;
  margin: .5rem;
  /* background: #5bc3fc; */
}

.productsEncontrados{
  padding: .5rem;
  font-weight: 700;
}
/*---------- Range input ------------*/
.wrapper{
  position: relative;
  height: 7rem;
  width: 13rem;
  border-radius: 10px;
  margin-top: 1rem;
}

.containerPrices{
  position: relative;
  width: 100%;
  height: 35px;
  margin-top: 30px;
}

input[type="range"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 6px;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

.slider-track{
  width: 100%;
  height: 5px;
  background-color: #44D2F2;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 5px;
}

input[type="range"]::-moz-range-track{
  -moz-appearance: none;
  height: 5px;
}

input[type="range"]::-ms-track{
  appearance: none;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background-color: #0896e2;
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #5bc3fc;
  pointer-events: auto;
}

input[type="range"]::-ms-thumb{
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #5bc3fc;
  pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb{
  background-color: #ffffff;
  border: 3px solid #5bc3fc;
}

.values{
  background-color: #5bc3fc;
  width: 75%;
  position: relative;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.values:before{
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 15px solid #5bc3fc;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  margin: auto;
  bottom: -14px;
  left: 0;
  right: 0;
}

/*--------------- Forgot Password --------*/
.forgotPass{
  width: 25rem;
  height: 20rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
  border-radius: 0.7rem;
}

.recuperarPass{
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
}

.inputRecuperar{
  border-style: none;
  width: 100%;
  border-radius: 5px;
  padding: 5px 0px 5px 40px;
  box-shadow: #0e1e251f 0px 4px 8px 0px, #0e1e2552 0px 4px 32px 0px;
  outline: none;
}

.inputRecuperar:hover{
  border-color: #067cbb;
}

.btnRecuperar{
  border-style: none;
  width: 70%;
  height: 16%;
  padding: .5rem;
  border-radius: 10px;
  background: #067cbb;
  color: #fff;
  font-weight: 600;
}

.alertError{
  color: #970303;
  text-align: center;
}

.div-recoverPassword{
  width: 69%;
}

.iconEmailRecuperar{
  position: absolute;
  font-size: 1.5rem;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  color: #2a9bd1;
}

.text_welcome{
  font-size: 1.7rem;
}

/*-------- Responsive 1920px ---------*/
@media screen and (min-width:1920px) {

  #bannerTamaño {
    height: 32rem;
  }
}

/*-------- Responsive 1200px ---------*/

@media screen and (max-width:1200px) {
  .formulario {
    display: inline-block;
  }

  .formulario2 {
    margin: 18rem;
    margin-top: 0rem;
  }

  .select_product1 {
    width: 16rem;
    height: 14rem;
  }

  .select_product2 {
    width: 15rem;
    height: 14rem;
  }

  .select_product3 {
    width: 12rem;
  }

  .btn_all {
    margin-top: 1rem;
  }

  .formulario3{
    margin-top: 2rem;
    margin-left: 20rem;
  }

  .message2{
    margin-top: 1rem;
    margin-left: 10rem;
  }

  .containerCategorias{
    display: none;
  }  

  .text_welcome {
    font-size: 1.8rem;
}

}


/*-------- Responsive 1100px ---------*/


@media screen and (max-width:1100px) { 

  .formulario3{
    margin-left: 16rem;
  }
  
  .message2{
    margin-left: 8.5rem;
  }

  .formulario {
    display: inline-block;
  }

  .formulario2 {
    margin: 16rem;
    margin-top: 0rem;
  }

  
  .containerCategorias{
    display: none;
  }  


}



/*-------- Responsive 1000px ---------*/

@media screen and (max-width:1000px) {
  .formulario {
    display: inline-block;
  }

  .formulario2 {
    margin: 12rem;
    margin-top: 0rem;
  }
  .formulario3{
    margin-left: 13.5rem;
  }

  .message2{
    margin-left: 11rem;
  }

  .containerFilter{
    margin-left: 10rem;
  }

  .containerCategorias{
    display: none;
  }

  .card_all_product{
    margin-right: 12rem;
  }

  .card_all_product{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1f));
    gap:2rem;
    text-align: center;
    padding: 3rem 2rem;
  }

  html{
    font-size: 80%;
  }

}


  .column_nav_content{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
  }

/*-------- Responsive 968px ---------*/
@media screen and (max-width:968px) {
  .buscar{
    width: 38rem;
  }

  .column_nav_content{
    display: block;
}
}
/*-------- Responsive 950px ---------*/

@media screen and (max-width:950px) {
  .formulario {
    display: inline-block;
  }

  .formulario2 {
    margin: 11rem;
    margin-top: 0rem;
  }
  .formulario3{
    margin-left: 11rem;
    }
  
  .message2{
    margin-left: 9rem;
  }
  

}



/*-------- Responsive 900px ---------*/

@media screen and (max-width:900px) {
  .formulario {
    display: inline-block;
  }

  .formulario2 {
    margin: 8.5rem;
    margin-top: 0rem;
  }
  .formulario3{
    margin-left: 8.8rem;
  }
  
  .message2{
    margin-left: 7.1rem;
  }

  .card_all_product{
      margin-right: 13rem;
  }
  
}
/*-------- Responsive 850px ---------*/
@media  screen and (max-width:850px) {

  .card_all_product{
    display: grid;
    grid-template-columns: 20rem 18rem 18rem;
  }

  
}

/*-------- Responsive 800px ---------*/
@media  screen and (max-width:800px) {

  .card_all_product{
    display: grid;
    grid-template-columns: 20rem 16rem 16rem;
  }

  
}


/*-------- Responsive 768px ---------*/

@media screen and (max-width:768px) {
  .formulario {
    display: inline-block;
  }



  .formulario3{
    margin: 5.5rem;
    margin-top: 2rem;
  }
  .formulario2 {
    margin: 4rem;
    margin-top: 0rem;

  }

  .message2{
    margin-left: 10rem;
    margin-top: -5rem;
  }

  .card_all_product{
    margin-left: 5rem;
  }
  
  .card_all_product{
    display: grid;
    grid-template-columns: 15.5rem 15.4rem 15.4rem;
  }

}


  /*-------- Responsive 700px ---------*/


@media screen and (max-width:700px) { 
  .formulario{
    display: inline-block;
  }
  .formulario2{
    margin: 1rem;
    margin-top: 0rem;
  }
  .formulario {
      display: inline-block;
  }

  .formulario2 {
      margin: 1rem;
      margin-top: 0rem;
  }

  #welcome-back {
      margin-left: -3rem;
  }

  .formulario3 {
    margin-left: 4rem;
    width: 32rem;
  }


  .formulario3{
  margin-top: 3rem;
  margin-left: 1rem;
  width: 32rem;
  }

  .message2{
  margin-top: 2rem;
  padding: 0rem;
  margin-left: 3rem;
  }

  .button-show2{
  margin-left: 26rem;
  }

  .card_all_product{
    margin-right: 12rem;
    grid-template-columns: 13rem 15rem 15rem;
    justify-items: end;
  }

  .button-show2 {
    margin-left: 26rem;
  }

}

 






  /*-------- Responsive 673px ---------*/

  @media screen and (max-width:673px) {
    .formulario {
      display: inline-block;
    }

    .formulario2 {
      margin-left: 4.8rem;
      margin-top: 0rem;
    }

    .formulario2 {
      width: 26rem;
    }

    .welcome-back {
      margin-left: 3rem;
    }

    .iconos {
      margin-left: 6rem;
    }

    .button-show {
      margin-left: 20rem;
    }

      .welcome-back{
    margin-left: 3rem;
  }
  
  .iconos{
    margin-left: 6rem;
  }
  
  .button-show{
    margin-left: 20rem;
  }

  .formulario3{
    margin-left: 0.1rem;
  }

  .message2{
    margin-top: 1rem;
    padding: 0rem;
    margin-left: 0rem;
  }
  .card_all_product{
    display: grid;
    grid-template-columns: 13rem 14rem 14rem;
  }

  html{
    font-size: 70%;
  }


  }

  


  /*-------- Responsive 500px ---------*/
  @media screen and (max-width:500px) {

    .formulario {
      display: inline-block;
    }

    .formulario2 {

      width: 0rem;
      margin-left: -2rem;
      margin-top: 0rem;
      width: 29rem;
    }

    .iconos {
      margin-left: 6rem;
    }

    .button-show {
      margin-left: 22rem;
    }


    .formulario3{
      margin-left: -1.5rem;
      width: 25rem;
    }
  
    .message2{
      margin-top: 1rem;
      margin-left: 0rem;
    }
    .formulario3 {
      margin-left: -1rem;
      width: 28rem;
    }

    .message2 {
      margin-top: 2rem;
      margin-left: 8rem;
      margin-right: 6rem;
    }

    .button-show2{
      margin-left: 19rem;
    }

    .card_all_product{
      display: inline-block;
      margin-left: -10rem;
      margin-right: 1rem;
    }
  }

/*-------- Responsive 480px ---------*/
@media screen and (max-width:480px) {

  .message {
    padding: 2;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .iconos {
    margin-left: 5.5rem;
  }

  .formulario {
    display: inline-block;
  }

  .formulario2 {
    width: auto;
    margin: 0rem;
    margin-top: 0rem;
    width: 24rem;
  }

  .button-show {
    margin-left: 18rem;
  }



  .formulario3 {
    margin-left: -1rem;
    width: 27rem;
  }

  .message2 {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 4rem;
  }

  .all{
    margin-right: 0rem;
  }


}

/* Era gol de yepes */

/* nah */

/* KOMO */
